[submodule "moegoe"]
	path = repositories/moegoe
	url = git@github.com:CyborgParadisum/MoeGoe.git

[submodule "so-vits-svc"]
	path = repositories/so_vits_svc
	url = git@github.com:CyborgParadisum/so-vits-svc.git
	branch = 32k_dev
